
.categories-box {
    margin: 5rem;
    z-index: -1;
}

.categories-box .info {
    display: flex;
    margin-bottom: 2rem;
}
.categories-box .info h2 {
    font-family: var(--title-font);
    color: var(--first-color);
    margin-right: 2rem;
}
.categories-box .info button {
    font-family: var(--text-font);
    color: #fff;
    background: var(--first-color);
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    transition: all 0.3s ease-out;
}

.categories-box .info button:hover {
    cursor: pointer;
    background: var(--first-color-light);
}


@media screen and (max-width: 768px) {
    .categories-box {
        margin: 4rem 2rem;
    }
    
}


@media screen and (max-width: 640px) {
    .categories-box {
        margin: 3rem 0;
    }
    .categories-box .info {
        justify-content: space-between;
    }
    .categories-box .info h2 {
        font-size: var(--h3-font-size);
    }
    .categories-box .info button {
        font-size: var(--smaller-font-size);
    }
    .categories-box .swiper {
        z-index: 1;
    }
}