.navbar {
    background-color: var(--third-color);
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
}
.navbar .menu-button {
    visibility: hidden;
    color: var(--first-color);
}

.navbar img {
    margin-left: 2rem;
    padding: 1rem;
    width: 10rem;
    height: auto;
}

.nav-menu {
    display: flex;
    padding:2rem;
}

.nav-menu li {
    margin: 0 1rem;
    color: var(--first-color-light);
}

.nav-menu li a {
    font-family: var(--text-font);
    // font-size: var(--small-font-size);
    font-weight: var(--font-medium);
    color: var(--first-color-light);
    transition: all 0.3s ease-out;
    z-index: 10;
}

.nav-menu li a:hover {
    cursor: pointer;
    color: var(--second-color);
    transform: translateY(-3px);
}
.navbar svg {
    font-size: var(--h3-font-size);
}
.navbar span {
    position: absolute;
    // text-align: center;
    font-size: var(--smaller-font-size);
    padding: 0.2rem 0.4rem ;
    border-radius: 2rem;
    background: var(--second-color);
    color: #fff;
    margin-left: 0.6rem;
    margin-top: 0.6rem;
    // z-index: 10;
}

// .nav-menu .heart {
//     display: flex;

// }


@media screen and (max-width: 768px) {
    .navbar {
        width: 100vw;
        background: var(--third-color);
    }
    .navbar .menu-button {
        visibility: visible;
        position: absolute;
        top: 2rem;
        right: 2rem;
        z-index: 11;
    }
    .nav-menu {
        visibility: hidden;
        transition: all 0.3s ease-out;
        left: 100%;
        opacity: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 10;
        overflow: hidden;
    }

    .nav-menu.active {
        // display: flex;
        // justify-content: center;
        // align-items: center;
        // flex-direction: column;
        visibility: visible;
        background: var(--third-color);
        left: 0;
        opacity: 1;
        z-index: 3;
        // top: 5rem;
        opacity: 10;
        overflow: hidden;
    }
    .nav-menu li {
        margin: 5rem 0;
        font-size: var(--h2-font-size);
        font-weight: 700;
    }
}


@media screen and (max-width: 640px) {
    .navbar {
        padding: 0;
    }
    .nav-menu li {
        margin: 2rem 0;
    }
}