.download-catalog {
    padding: 2rem 0;
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    margin: 0 5rem 5rem;
    background: var(--third-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.download-catalog .card-item {
    background: #fff;
}
.download-catalog .card-item img {
    background: var(--third-color);
}

.download-catalog .data .title {
    font-family: var(--title-font);
}

.download-catalog .data a {
    color: #fff;
    font-weight: var(--font-bold);
    font-size: var(--normal-font-size);
    font-family: var(--text-font);
    // width: 10rem;
    padding: 0.5rem 3rem;
    border-radius: 2rem;
    background: var(--second-color);
    transition: all 0.3s ease-out;
}

.download-catalog .data a:hover {
    background: var(--first-color-light);
    cursor: pointer;
}

@media screen and (max-width: 768px) {
   
    .download-catalog .card-item {
        width: 12rem;
    }
    .download-catalog .data .title {
        margin: 0 3rem;
    }
    .download-catalog .card-item .card-title {
        font-size: var(--small-font-size);
    }
    
}


@media screen and (max-width: 640px) {
    
    .download-catalog {
        margin: 0 0 3rem 0;
        padding: 2rem;
        border-top-right-radius: 2rem;
        border-bottom-left-radius: 2rem;
    }
    .download-catalog .card-item {
        display: none;
    }
    
}