.search-box {
    width: 15rem;
    padding: 1.5rem;
    background: #fff;
    font-family: var(--text-font);
    border-top-right-radius: 1.25rem;
    border-bottom-left-radius: 1.25rem;

    position: absolute;
    left: 7rem;
    bottom: -2rem;
    
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
}
.search-box p, .search-box input, .search-box select {
    margin-bottom: 1rem;
}

.search-box p {
    color: var(--second-color);
}

.search-box input, .search-box select {
    width: 100%;
    border: none;
    border-radius: 2rem;
    background: var(--third-color);
    color: var(--first-color);
    padding: 0.5rem 1rem;
    // margin-right: 1rem;
}