.search-box {
    width: 16.5rem;
    padding: 1.5rem;
    background: #fff;
    font-family: var(--text-font);
    border-top-right-radius: 1.25rem;
    border-bottom-left-radius: 1.25rem;

    position: absolute;
    left: 7rem;
    bottom: -2rem;
    
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
}
.search-box p, .search-box input {
    margin-bottom: 1rem;
}

.search-box p {
    color: var(--second-color);
}

.search-box input {
    width: 100%;
    border: none;
    border-radius: 5px;
    background: var(--third-color);
    color: var(--first-color);
    padding: 0.5rem 1rem;
    text-transform: capitalize;
}

.search-box input {
    padding: 0.6rem 1rem;
}

.search-box button {
    width: 100%;
    color: #fff;
    background: var(--second-color);
    font-family: var(--text-font);
    font-size: var(--h3-font-size);
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
}


@media screen and (min-width: 1920px) {
    .search-box {
        bottom: 4rem;
    }
}

@media screen and (min-height: 1500px)  {
    .search-box {
        bottom: 23rem;
    }
}



@media screen and (max-width: 768px) {
    .search-box {
        bottom: -10rem;
        z-index: 2;
    }
}