.search-box {
    width: 16.5rem;
    padding: 1.5rem;
    background: #fff;
    font-family: var(--text-font);
    border-top-right-radius: 1.25rem;
    border-bottom-left-radius: 1.25rem;

    position: absolute;
    left: 7rem;
    bottom: -3rem;
    
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
}
.search-box p, .search-box input {
    margin-bottom: 1rem;
}

.search-box p {
    color: var(--second-color);
}

.search-box input {
    width: 100%;
    border: none;
    border-radius: 5px;
    background: var(--third-color);
    color: var(--first-color);
    padding: 0.5rem 1rem;
    text-transform: capitalize;
}

.search-box input {
    padding: 0.6rem 1rem;
}

.search-box button {
    cursor: pointer;
    width: 100%;
    color: #fff;
    background: var(--second-color);
    font-family: var(--text-font);
    font-size: var(--h3-font-size);
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    transition: all 0.4s ease-out;
}
.search-box button:hover {
    background: var(--first-color);
}


@media screen and (min-width: 1920px) {
    .search-box {
        bottom: 4rem;
    }
}

@media screen and (min-width: 1920px) and (min-height: 1500px)  {
    .search-box {
        bottom: 23rem;
    }
}

@media screen and (max-width: 1024px) {
    .search-box {
        bottom: 15rem;
        z-index: 2;
    }
}

@media screen and (max-width: 1024px) and (max-height: 750px) {
    .search-box {
        bottom: -3rem;
    }
}

@media screen and (max-width: 1024px) and (max-height: 550px) {
    .search-box {
        bottom: -15rem;
    }
}

@media screen and (max-width: 768px) and (max-height: 550px) {
    .search-box {
        bottom: -15rem;
    }
}


@media screen and (max-width: 768px) {
    .search-box {
        bottom: 10rem;
    }
}

@media screen and (max-width: 768px) and (max-height: 760px) {
    .search-box {
        bottom: -3rem;
    }
}

@media screen and (max-width: 640px) {
    .search-box {
        // width: 100%;
        position: initial;
        margin-top: 5rem;
    }
}

@media screen and (max-width: 414px) {
    .search-box {
        width: 100%;
    }
}
