footer {
    text-align: center;
}

footer .logo {
    // display: block;
    width: 10rem;
    height: fit-content;
}

.sections {
    text-align: left;
    display: flex;
    align-items: top;
    justify-content: space-around;
    padding: 2rem 5rem 5rem 5rem;
}
.sections h4, .sections p {
    color: var(--first-color);
}
.sections h4 {
    font-family: var(--title-font);
    font-size: var(--h3-font-size);
    // font-weight: var(--font-bold);
    margin-bottom: 1.5rem;
}
.sections p {
    font-family: var(--text-font);
    font-size: var(--small-font-size);
    margin-bottom: 1rem;
    transition: all 0.3s ease-out;
}

// Payment Methods
.sections .pay-methods img {
    height: 1rem;
    width: fit-content;
}

// Mobilesco Links
.sections a:hover p{
    color: var(--second-color);
}


.sections .social-media h4 {
    margin-bottom: 1rem;
}

.sections .social-media .icons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sections .social-media .icons a {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--second-color);
    background: var(--third-color);
    font-size: 1.75rem;
    margin-bottom: 0.3rem;
    transition: all 0.3s ease-out;
}
.sections .social-media .icons a:hover {
    color: var(--first-color);
    transform: translateX(5px);
}

@media screen and (max-width: 768px) {
    .sections {
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .sections .social-media {
        margin: 0 5rem;
        justify-self: flex-start;
    }
    .sections .social-media .icons {
        flex-direction: row;
    }
    .sections .social-media .icons a:hover {
        color: var(--first-color);
        transform: translateY(-5px);
    }
}


@media screen and (max-width:  640px) {
    .sections {
        padding: 0 3rem 2rem;
        flex-direction: column;
    }
    .sections .social-media {
        margin: 0;
    }
    .sections .social-media .icons a {
        margin: 0 1rem 0 0;
    }
}