.search-bar {
    margin: 5rem 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-bar .input-box {
    display: flex;
}

.search-bar .buttons {
    display: flex;
}
.search-bar input, 
.search-bar .search-button, 
.search-bar .categories{
    padding: 0.5rem;
    border-radius: 5px;
}

.search-bar .search-button, .search-bar .categories {
    cursor: pointer;
    color: white;
}

.search-bar input {
    border: none;
    width: 30rem;
    background: var(--third-color);
}

.search-bar .dropdown {
    font-family: var(--text-font);
    font-size: var(--smaller-font-size);
    align-self: auto;
    height: 10rem;
    margin-left: -8rem;

    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: var(--fifth-color);
    width: 30rem;
    overflow-y: scroll;
    text-align: left;
    padding-left: 0.5rem;
}

.item-name {
    padding-top: 5px;
    padding-bottom: 5px;

}

.search-bar .search-button {
    margin-left: -2rem;
    background: var(--second-color);
}
.search-bar .categories {
    background: var(--first-color);
    margin-left: 2rem;
}



@media screen and (max-width: 640px) {
    .search-bar {
        margin: 3rem 0;
    }
    .search-bar input {
        width: 13rem;
    }
    .search-bar .categories {
        margin-left: 1rem;
    }
    .search-bar .dropdown {
        width: 12rem;
    }
}