.preview-product {
    display: flex;
    align-items: center;
    align-content: space-around;
    width: 35rem;
    height: 17rem;
    border-bottom: 1px solid var(--third-color);
    margin-bottom: 2rem;
}

.preview-product .img {
    padding: 1rem;
    width: 50%;
    // height: auto;
}

.preview-product .img img {
    width: 100%;
    height: 100%;
}
.preview-product .preview-info {
    width: 50%;
}

.preview-info .title {
    text-align: left;
    font-family: var(--title-font);
    font-size: var(--h3-font-size);
    color: var(--first-color);
}

.preview-info .description, .preview-info button, .preview-info span {
    cursor: pointer;
    font-family: var(--text-font);
    margin: 0.5rem;
}

.preview-info .description {
    font-size: var(--small-font-size);
    color: var(--first-color);
}

.preview-info .more, .preview-info .add {
    padding: 0.5rem 1rem;
    color: #fff;
    background: var(--second-color);
    border-radius: 2rem;
}

.preview-info .remove {
    font-weight: var(--font-semibold);
    color: var(--first-color);
}
.preview-info .add {
    margin-left: 0.5rem;
    background: var(--first-color);
    color: var(--third-color);
}


@media screen and (max-width: 768px) {
    .preview-product {
        height: auto;
        width: auto;
        flex-direction: column;
    }
    .preview-product .img {
        width: 70%;
    }
    .preview-product .preview-info {
        width: 80%;
    }
}