.preview-product {
    display: flex;
    align-items: center;
    align-content: space-around;
    width: 30rem;
    height: 15rem;
    border-bottom: 1px solid var(--third-color);
    margin-bottom: 2rem;
}

.preview-product .img {
    padding: 1rem;
    width: 15rem;
    // height: auto;
}

.preview-product .img img {
    width: 100%;
    height: 100%;
}

.preview-info .title {
    text-align: left;
    font-family: var(--title-font);
    font-size: var(--h3-font-size);
    color: var(--first-color);
}

.preview-info .description, .preview-info button, .preview-info span {
    cursor: pointer;
    font-family: var(--text-font);
    margin: 0.5rem;
}

.preview-info .more, .preview-info .add {
    padding: 0.5rem 1rem;
    color: #fff;
    background: var(--second-color);
    border-radius: 2rem;
}

.preview-info .remove {
    font-weight: var(--font-semibold);
    color: var(--first-color);
}
.preview-info .add {
    margin-left: 0.5rem;
    background: var(--first-color);
    color: var(--third-color);
}