.month-product {
    display: flex;
    align-items: center;
    justify-content: center;
}
.month-product .data {
    margin: 0 0 0 10rem;
    padding: 2rem;
}
.month-product .subtitle {
    font-family: var(--text-font);
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
    text-transform: uppercase;
    color: var(--first-color-light);
}
.month-product .title {
    font-family: var(--title-font);
    color: var(--first-color);
    // margin-top: 1rem;
    margin-bottom: 2rem;
}
.month-product .description {
    font-family: var(--text-font);
    color: var(--first-color);
}

.month-product .buttons {
    margin: 2rem 0;
}
.month-product .buttons button {
    border: none;
    background: #fff;
}
.month-product .buttons .buy {
    margin-right: 2rem;
    padding: 0.5rem 1rem;
    color: #fff;
    border-radius: 3rem;
    font-size: var(--small-font-size);
    font-weight: var(--font-semibold);
    background: var(--second-color);
    letter-spacing: 1px;
}
.month-product .buttons .buy, .month-product .buttons .cart {
    transition: all 0.3s ease-out;
}
.month-product .buttons .buy:hover {
    cursor: pointer;
    background: var(--first-color-light)
}
.month-product .buttons .cart {
    font-size: var(--h3-font-size);
    color: var(--second-color);
} 
.month-product .buttons .cart:hover {
    cursor: pointer;
    color: var(--first-color-light);
}

.month-product .img img{
    width: 30rem;
    margin: 0 10rem;
}

@media screen and (min-width: 1920px) {
    .month-product {
        margin: 0 15rem;
    }
    .month-product .data {
       padding: auto;
    }
    .month-product .subtitle {
        font-size: var(--h2-font-size); 
    }
    .month-product .title {
        font-size: var(--big-font-size);
    }
    .month-product .description {
        font-size: var(--h3-font-size);
    }
    .month-product .buttons .buy {
        font-size: var(--normal-font-size);
    }
}
@media screen and (max-width: 1024px) {
    .month-product .img img {
        width: 20rem;
        margin: 0 3rem;
    }
    .month-product .data {
        margin: 0 0 0 5rem;
    }
}

@media screen and (max-width: 768px) {
    .month-product {
        flex-direction: column;
    }
    .month-product .data {
        margin: 0;
        width: 80%;
    }
}

@media screen and (max-width:  640px) {
    .month-product {
        margin-top: 2rem;
    }
    .month-product .data {
        padding: 2rem 1rem;
    }
    .month-product .img img {
        width: 18rem;
        margin: 0 2rem;
    }
}