.top-carousel {
    position: absolute;
    right: 3rem;
    top: 7rem;
}
.card-item.home .item-desc {
    display: none;
}

.top-carousel .swiper {
    width: 16rem;
    height: 27rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.top-carousel .swiper-wrapper {
    height: auto;
}

@media screen and (min-width: 1920px) {
    .top-carousel {
        right: 7rem;
    }
}


@media screen and (max-width: 768px) {
    .top-carousel {
        visibility: hidden;
    }
}