.home-categories {
    height: 100vh;   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-categories h2 {
    font-family: var(--title-font);
    font-size: var(--big-font-size);
    margin-bottom: 1rem;
}

.home-categories .title {
    padding: 0 1rem 0.5rem;
    color: var(--first-color);
}

.home-categories .subtitle {
    font-family: var(--text-font);
    font-size: var(--normal-font-size);
    color: var(--first-color);
    width: 40%;
    text-align: center;
    margin-bottom: 5rem;
}

.home-categories .swiper-main {
    width: 90%;
    margin: 0 5rem;
}

.home-categories .swiper {
    height: 25rem;
    display: flex;
    align-items: center;
}
.home-categories .swiper-wrapper {
    height: auto;
}

.home-categories .swiper-button-next, .home-categories .swiper-button-prev {
    color: var(--second-color, var(--swiper-theme-color));
}

@media screen and (min-width: 1920px) {
    .home-categories {
        height: 80vh;  
    }
    .home-categories h2 {
        font-size: var(--big-font-size);
    }
    .home-categories .subtitle {
        font-size: var(--h3-font-size);
    }
}

@media screen and (max-width: 1024px) {
    .home-categories {
        height: auto;
    }
}

@media screen and (max-width: 768px) {
    .home-categories {
        margin: 3rem 0;
        height: 100vh;
    }
    .home-categories h2 {
        font-size: var(--h1-font-size);
    }
    .home-categories .subtitle {
        font-size: var(--normal-font-size);
        width: 50%;
    }
    .swiper-main {
        width: 80%;
        margin: 0 5rem;
    }
    
}


@media screen and (max-width: 640px) {
    .home-categories {
        margin: 3rem 0;
        justify-content: center;
    }
    .home-categories .title {
        font-size: var(--h2-font-size);
        padding: 0 0 0 3rem;
    }
    .home-categories .subtitle {
        padding: 0 3rem;
        width: auto;
        text-align: left;
        margin-bottom: 4rem;
    }
    .home-categories .category-card {
        margin: 1rem;
    }
}
