.product-popup {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}
.popup-content {
    padding: 0;
    // height: 100vh;
    width: 80%;
    border-radius: 2rem;
}

.product-popup > .close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 0.5rem 0.75rem;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    color: var(--third-color);
    background: var(--first-color);
    border-radius: 2rem;
    border: 2px solid var(--fourth-color);
}

.product-popup .img {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: contain;
}
.popup-content .img img {
    width: 60%;
    height: auto;
}

.product-popup h1, .product-popup h3 {
        font-family: var(--title-font);
        color: var(--fourth-color);
}

.product-popup button, .product-popup p, .product-popup label {
    font-family: var(--text-font);
}

.product-popup .product-info {
    background: var(--third-color);
    margin: 0;
    width: 50%;
    padding: 2rem 5rem;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    border-top-right-radius: 2rem;
}
.product-popup button:hover {
    cursor: pointer;
}

.product-popup .category {
    color: var(--second-color-light);
}

.product-popup h1 {
    margin-bottom: 1rem;
}

.product-popup .product-info .description {
    color: var(--first-color);
    font-size: var(--small-font-size);
    margin-bottom: 1rem;
}

// COLORS SELECTION
.colors, .sizes, .quantity {
    margin: 0.5rem 0;
}
.colors, .colors .buttons {
    display: flex;
    align-items: center;
}
.colors .buttons button {
    height: 2rem;
    width: 2rem;
    margin: 0.75rem 0.5rem 0.75rem 0;
    background: var(--second-color);
    border-radius: 2rem;
}
.colors .buttons {
    margin-left: 0.5rem;
}

.product-popup label {
    margin-left: 0.5rem;
    color: var(--first-color);
    font-size: var(--small-font-size);
}


// PRODUCT SIZES SELECTION
.product-popup .sizes .sizes-title{
    margin-bottom: 0.5rem;
}
.product-popup .sizes .buttons {
    display: flex;
}
.product-popup .sizes .buttons button {
    margin-right: 0.5rem;
    padding: 0.01rem 1rem;
    border-radius: 2rem;
    color: var(--second-color);
    border: 0.125rem solid var(--second-color);
}


// QUANTITY SELECTION
.quantity .buttons {
    display: flex;
    align-items: center;
    margin: 1rem 0;

}
.quantity .buttons button {
    height: 2rem;
    font-size: var(--h2-font-size);
    width: 2rem;
    // background: var(--second-color);
    border-radius: 2rem;
}

.quantity .buttons .less {
    margin-right: 0.5rem;
    border: 0.125rem solid var(--second-color);
    color: var(--second-color);
}
.quantity .buttons {
    color: var(--first-color);
}

.quantity .buttons .more {
    margin-left: 0.5rem;
    background: var(--second-color);
    color: var(--third-color);
}

.quantity .buttons button:hover {
    background: var(--third-color);
    color: var(--first-color);
    border: 0.125rem solid var(--first-color);
}

// Boottom Buttons 
.bottom-buttons {
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 1rem 0;
}
.bottom-buttons button, .bottom-buttons a {
    font-family: var(--text-font);
    font-size: var(--small-font-size);
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    color: #fff;
    transition: all 0.3s ease-out;
}
.bottom-buttons a:hover {
    background: var(--first-color);
}
.bottom-buttons button:hover {
    color: var(--first-color);
    border: 0.125rem solid var(--first-color);
}

.bottom-buttons .quote {
    color: #fff;
    background: var(--second-color);
}
.bottom-buttons .heart {
    margin-left: 1rem;
    border: 0.125rem solid var(--second-color);
    color: var(--second-color);
}


.card-footer {
    margin-top: 1rem;
    color: var(--first-color);
    font-size: var(--smaller-font-size);
}