.home-categories {
    height: 100vh;   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-categories h2 {
    font-family: var(--title-font);
    margin-bottom: 1rem;
}

.home-categories .title {
    padding: 0 1rem 0.5rem;
    color: var(--first-color);
}

.home-categories .subtitle {
    font-family: var(--text-font);
    font-size: var(--small-font-size);
    width: 40%;
    text-align: center;
    margin-bottom: 5rem;
}

.swiper-main {
    width: 90%;
    margin: 0 5rem;
}

.category-card {
    width: 15rem;
    height: 23rem;
    padding: 1rem;
    border-top-left-radius: 1.25rem;
    border-bottom-right-radius: 1.25rem;
    
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);

    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: var(--text-font);
    background: var(--first-color);
    transition: all 0.3s ease-out;
}
.category-card:hover {
    transform: translateY(-10px) scale(1.007)
}
.category-card .title {
    color: var(--second-color);
}
.category-card .description {
    color: #fff;
    font-size: var(--smaller-font-size);
    padding: 0.3rem 0.5rem;
}

.category-card img {
    margin: 0.4rem 0.5rem ;
    border-top-left-radius: 1.25rem;
    border-bottom-right-radius: 1.25rem;
    margin-bottom: 1rem;
}
.home-categories .swiper-button-next, .home-categories .swiper-button-prev {
    color: var(--second-color, var(--swiper-theme-color));
}


@media screen and (max-width: 768px) {
    .home-categories h2 {
        font-size: var(--h1-font-size);
    }
    .home-categories .subtitle {
      
        font-size: var(--normal-font-size);
        width: 50%;
    }
    .swiper-main {
        width: 80%;
        margin: 0 5rem;
    }
    
}


@media screen and (max-width: 640px) {
    .home-categories {
        height: 80vh;
        justify-content: end;
    }
    .home-categories .title {
        font-size: var(--h2-font-size);
        padding: 0 0 0 3rem;
    }
    .home-categories .subtitle {
        padding: 0 3rem;
        width: auto;
        text-align: left;
        margin-bottom: 4rem;
    }
    .home-categories .category-card {
        margin-left: 1rem;
    }
}
