

.gallery .title{
    font-family: var(--title-font);
    font-size: var(--h1-font-size);
}

.gallery .grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(20, 4rem);
    grid-gap: 15px;
}

.gallery .grid-item {
    height: 100%;
    width: 100%;
    transition: all 0.3s ease-out;
}
.gallery .gallery-img {
    width: 100%;
    height: 100%;
    // object-fit: cover;
}

.gallery .grid-item:hover {
    transform: scale(0.97);   
}


// First Row
.gallery .item-1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 7;
}
.gallery .item-2 {
    grid-column-start: 3;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 6;
}


// Second Row
.gallery .item-3 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 7;
    grid-row-end: 11;
}
.gallery .item-4 {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 6;
    grid-row-end: 11;
}


// Third Row
.gallery .item-5 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 11;
    grid-row-end: 17;
}
.gallery .item-6 {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 11;
    grid-row-end: 15;
} 
 

// Fourth Row
.gallery .item-7 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 17;
    grid-row-end: 21;
}
.gallery .item-8 {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 15;
    grid-row-end: 21;
}



@media screen and (max-width: 1024px) {
    .gallery .grid {
        grid-template-columns: repeat(6, 7rem);
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 768px) {
    .gallery .grid {
        display: flex;
        padding: 1rem;
        flex-direction: column;
        align-items: center;
    }
}