.top-products {
    margin: 5rem;
}

.top-products .info {
    display: flex;
    margin-bottom: 2rem;
}
.top-products .info h2 {
    font-family: var(--title-font);
    color: var(--first-color);
    margin-right: 2rem;
}
.top-products .info button {
    font-family: var(--text-font);
    color: #fff;
    background: var(--first-color);
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    
    transition: all 0.3s ease-out;
}

.top-products .info button:hover {
    cursor: pointer;
    background: var(--first-color-light);
}

.top-products .swiper-button-next, .top-products .swiper-button-prev {
    color: var(--second-color, var(--swiper-theme-color));
}

.top-products .swiper .card-item {
    background: var(--first-color);
}
.top-products .swiper .card-item .card-title {
    color: #fff;
}
.top-products .swiper .card-item .heart {
    color: var(--second-color-light);
}
.top-products .swiper {
    height: 27rem;
}

.top-products .swiper-wrapper {
    height: auto;
}

@media screen and (max-width: 768px) {
    .top-products {
        margin: 4rem 2rem;
    }
}

@media screen and (max-width: 640px) {
    .top-products {
        margin: 3rem 0 5rem 0;
    }
}


