.not-found-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.not-found-img img {
    height: 20rem;
    width: auto;
    margin: 0 2rem;
}

.not-found-img p {
    font-family: var(--text-font);
    font-size: var(--big-font-size);
    font-weight: var(--font-semibold);
    width: 45%;
    text-align: left;
    color: var(--first-color);
    margin: 0 2rem;
}


@media screen and (max-width: 768px) {
    .not-found-img {
        flex-direction: column-reverse;
    }
    .not-found-img p {
        font-size: var(--h1-font-size);
        width: auto;
        text-align: center;
        margin: 2rem 0;
    }
}