.box {
    background: var(--second-color);
    width: 20rem;
    text-align: center;
    padding: 2rem;
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    transition: all 0.3s ease-out;
}
.box:hover {
    transform: translateY(-10px) scale(1.007)
}
.box .img-grid {
    display: flex;
    justify-content: center;
    // align-items: center;
    flex-wrap: wrap;
}
.box .img-grid img {
    padding: 0.5rem;
    height: 8rem;
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    transition: all 0.3s ease-out;
}
.box .img-grid img:hover{
    transform: translateY(-5px) scale(1.007)
}

.box .data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0 0 0;
}

.box .data p, .box .data button {
    font-family: var(--text-font);
    font-weight: var(--font-bold);
    font-size: var(--small-font-size);
    color: #fff;
}

.box .data button {
    padding: 0.5rem 1rem;
    background: var(--second-color-light);
    border-radius: 2rem;
    transition: all 0.3s ease-out;
}

.box .data button:hover {
    cursor: pointer;
    background: var(--first-color-light);
}