
.join-us .info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.join-us h1, .join-us p {
    color: var(--first-color);
}

.join-us h1 {
    font-family: var(--title-font);
    font-size: var(--big-font-size);
}

.join-us p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--text-font);
    font-size: var(--h3-font-size);
    text-align: center;
    width: 60%;
    margin: 3rem 0;
}


@media screen and (max-width: 768px) {
    .join-us p {
        width: 90%;
    }
    .join-us h1 {
       font-size: var(--h1-font-size);
    }
}

.contact {
    // height: 100vh;
    width: auto;
    margin-bottom: 3rem;
}