.info {
    padding-top: 5rem;
    background: var(--third-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info h1, .info p {
    color: var(--first-color);
}

.info h1 {
    font-family: var(--title-font);
    font-size: var(--big-font-size);
}

.info p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--text-font);
    font-size: var(--h3-font-size);
    text-align: center;
    width: 60%;
    margin: 3rem 0;
}

@media screen and (max-width: 768px) {
    .info p {
        width: 90%;
    }
    .info h1 {
       font-size: var(--h1-font-size);
    }
}