.product-carousel {
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    // box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
}
.product-carousel .text {
    font-family: var(--text-font);
    color: var(--first-color);
    width: 40%;
    margin: 3rem 6rem;
}
.product-carousel .swiper {
    height: 27rem;
    display: flex;
    align-items: center;
}
.product-carousel .swiper-wrapper {
    height: auto;
}

.product-carousel .text .title {
    font-size: var(--h2-font-size);
    margin: 2rem 0;
}

@media screen and (min-width: 1920px) {
    .product-carousel {
        height: 70vh;
        margin: 0 5rem;
    }
    .product-carousel .text .title {
        font-size: var(--big-font-size);
        margin: 3rem 0;
    }
    .product-carousel .text .description {
        font-size: var(--h3-font-size);
    }
}

@media screen and (max-width: 1024px) {
    .product-carousel {
        height: 60vh;
    }
}

@media screen and (max-width: 768px) {
    .product-carousel {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        margin-left: 3rem;
    }
    .product-carousel .text {
        width: 60%;
        margin: 2rem 6rem;
    }
    .product-carousel .swiper {
        width: 80%;
    }
    .product-carousel .text .title {
        font-size: var(--h1-font-size);
    }
}

@media screen and (max-width: 640px) {
    .product-carousel {
        margin-left: 0;
    }
    .product-carousel .text {
        width: 80%;
        margin: 2rem 3rem;
    }
    // .product-carousel .swiper {
    //     overflow-y: visible;
    // }
    .card-item.product-catalog {
        margin: 2rem;
    }
}