.card-item {
    width: 15rem;
    height: 25rem;
    padding: 1.5rem;
    border-top-left-radius: 1.25rem;
    border-bottom-right-radius: 1.25rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: var(--text-font);
    color: var(--first-color);
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
    transition: all 0.3s ease-out;
}
.card-item:hover {
    transform: translateY(-10px) scale(1.007)
}
.card-item img {
    height: 12rem;
    width: 12rem;
    object-fit: contain;

    padding: 1.5rem;
    border-top-left-radius: 1.25rem;
    border-bottom-right-radius: 1.25rem;
    margin-bottom: 1rem;
}
.card-item.home {
    height: 22rem;
    background: #fff;
    // position: absolute;
    // right: 3rem;
    // top: 10rem;
}
.card-item.home img{
    background: var(--third-color);
}
.card-item.home .item-desc {
    display: none;
}

.card-item.product-catalog {
    background: var(--third-color);
}
.card-item.product-catalog img{
     background: #fff;
 }


.card-item .card-title {
    margin-bottom: 1rem;
    text-transform: capitalize;
}
.card-item .item-desc {
    margin-bottom: 1rem;
    font-size: var(--small-font-size);
}

.card-item .card-buttons {
    display: flex;
    justify-content: space-between;
}

.card-item .card-buttons button {
    text-decoration: none;
    background: none;
    border: none;
    transition: all 0.3s ease-in-out;
}
.card-item .card-buttons button:hover {
    cursor: pointer;
}

.card-item .card-buttons .more {
    padding: 0.5rem 1rem;
    color: #fff;
    border-radius: 3rem;
    font-size: var(--small-font-size);
    font-weight: var(--font-semibold);
    background: var(--second-color);
}
.card-item .card-buttons .more:hover {
    background: var(--first-color);
}
.card-item .card-buttons .heart {  
    font-size: larger;
    color: var(--first-color);
}
.card-item.active .card-buttons .heart {
    color: var(--second-color);
}
.card-item .card-buttons .heart:hover,
.card-item .card-buttons .heart.active {
    color: var(--second-color);
}

.card-item.product-catalog .card-buttons .more:hover {
    background: var(--first-color-light);
}
.card-item.product-catalog .card-buttons .heart:hover {
    color: var(--second-color);
}
