.card-item {
    width: 15rem;
    padding: 1.5rem;
    border-top-left-radius: 1.25rem;
    border-bottom-right-radius: 1.25rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: var(--text-font);
    color: var(--first-color);
}
.card-item img {
    padding: 1.5rem;
    border-top-left-radius: 1.25rem;
    border-bottom-right-radius: 1.25rem;
    margin-bottom: 1rem;
}

.card-item.home {
   background: #fff;
   position: absolute;
   right: 3rem;
   top: 10rem;
}
.card-item.home img{
    background: var(--third-color);
}
.card-item.home .item-desc {
    display: none;
}

.card-item.catalog {
    background: var(--third-color);
}
.card-item.catalog img{
     background: #fff;
 }


.card-item .card-title {
    margin-bottom: 1rem;
}
.card-item .item-desc {
    margin-bottom: 1rem;
    font-size: var(--small-font-size);
}

.card-item .card-buttons {
    display: flex;
    justify-content: space-between;
}

.card-item .card-buttons button {
    text-decoration: none;
    background: #fff;
    border: none;
}
.card-item .card-buttons button:hover {
    cursor: pointer;
}

.card-item .card-buttons .more {
    padding: 0.5rem 1rem;
    color: #fff;
    border-radius: 3rem;
    font-size: var(--small-font-size);
    font-weight: var(--font-semibold);
    background: var(--second-color);
}
.card-item .card-buttons .heart {
    font-size: larger;
}
