.frequent-questions {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.frequent-questions h1,.frequent-questions h2 {
    font-family: var(--title-font);
    color: var(--first-color);
}
.frequent-questions h1 {
    font-size: var(--big-font-size);
    margin-bottom: 3rem;
}

.frequent-questions h3 {
    font-family: var(--title-font);
    color: #fff;
}

.frequent-questions p {
    font-family: var(--text-font);
}

.frequent-questions .container {
    display: flex;
    justify-content: center;
}
.container-faq {
    background: var(--first-color-light);
    box-shadow: 0 0 20px -1px rgba(0,0,0,.1);
    padding: 1.5rem;
    border-radius: 2rem;
//    text-align: center;
    height: auto;
    width: 50%;
    // margin-left: 150px;
}


.container-faq .answer.special {
    height: 12rem;
    color: #fff;
}

.container-faq .answer.special span {
    font-weight: var(--font-bold);
}


@media screen and (max-width: 768px) {
    .frequent-questions h1 {
        font-size: var(--h1-font-size);
    }

    .container-faq {
        padding: 1rem;
        width: auto;
    }
    .frequent-questions h3 {
        text-align: left;
    }
    .container-faq .answer.special {
        height: 15rem;
        color: #fff;
    }
}