header {
    height: 100vh;
    padding: 0 5rem 2.5rem;
    background: var(--third-color);
}
header .background {
    height: 90%;
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    background: url(./../../asstes/img/background.jpg) no-repeat center;
    // background-size: cover;
}
header .title {
    padding: 2rem 3rem;
    font-family: var(--title-font);
    font-weight: var(--font-medium);
    font-size: 2rem;
    color: var(--first-color);
    width: 60%;
}
header .description {
    width: 40%;
    text-align: right;
    font-family: var(--text-font);
    font-size: var(--h3-font-size);
    color: var(--first-color);
    position: absolute;
    right: 5rem;
    bottom: -3.5rem;
}

@media screen and (min-height: 1080px)  {
    header .description {
        bottom: 2rem;
    }
}

@media screen and (min-height: 1500px)  {
    header .description {
        font-size: var(--h2-font-size);
        bottom: 20rem;
    }
}


@media screen and (min-width: 1700px)  {
    header {
        padding: 0 5rem;
    }
    header .title {
        font-size: 3.5rem;
    }
    header .description {
        font-size: var(--h3-font-size);
        bottom: 9rem;
    }
}


@media screen and (max-width: 1024px) {
    header {
        height: 65vh;
    }
    header .background {
        height: 100%;
        background-size: cover;
    }
    header .title {
        font-size: var(--h1-font-size);
        padding-top: 3rem;
    }
    header .description {
        visibility: hidden;
    }
}

@media screen and (max-width: 768px) {
    header .title {
        padding: 1rem;
        font-size: 2rem;
        width: auto;
    }
    header .background {
        height: 80%;
    }
}

@media screen and (max-width: 640px) {
    header {
        height: auto;
        padding: 2.5rem;
    }

    header .background {
        border-bottom-left-radius: 1.5rem;
    }

    header .card-item, header .description{
        visibility: hidden;
    }
}



